{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{{ fontawesome_html() }}
<!-- {% import "bootstrap/wtf.html" as wtf %} -->

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to 60 seconds pitch</title>
        {% endif %}
      
    {%block content %}
    <div class="block">
    
     {% if pitch.user.profile_pic_path %}
     <div class="container hh">

    <img src="{{ pitch.user.profile_pic_path }}" alt="Display image" height='50'>
    <p class='name'>{{pitch.user.username}}</p>
    
    <h4>{{pitch.content}}</h4>
    <button>Upvote</button>
    <button>Downvote</button>
    <p>Upvotes:{{pitch.upvotes}}</p>
  <p>Downvotes:{{pitch.downvotes}}</p>
  <a href="/new/comment/{{pitch.id}}" class="btn btn-primary">Add comment</a>
    {{macro.displayComments(comments)}}
     </div>

    {%else %}
    <div class="container hh">
    <img src="static/photos/no_dp.png" alt="">
    <p class="name">{{pitch.user.username}}</p>
    <h4>{{pitch.content}}</h4>
    <p>Upvotes:{{pitch.upvotes}}</p>
  <p>Downvotes:{{pitch.downvotes}}</p>
    <button >Upvote</button>
    <button>Downvote</button>
    <a href="/new/comment/{{pitch.id}}" class="btn btn-primary">Add comment</a>
    {{macro.displayComments(comments)}}
</div>
    {%endif%}
    </div>
   {%endblock %}